<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.joker2038.rssreader"
    android:versionCode="7"
    android:versionName="4.2.1" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-sdk android:minSdkVersion="8"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        
        <activity 
            android:name="rssreader.ListActivity" 
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>   
        </activity>
        
        <activity
            android:name="rssreader.MainActivity"
            android:label="@string/app_name" >  
        </activity>
        
        
        <activity 
            android:name="rssfeed.AndroidRSSReader" 
            android:label="@string/app_name">
        </activity>
        <activity 
            android:name="rssfeed.RssItemDisplayer" 
            android:label="@string/app_name">
            <intent-filter>
				<action android:name="com.example.rssreader.displayRssItem" />
				<category android:name="android.intent.category.DEFAULT"></category>
			</intent-filter>
        </activity>
        <activity 
            android:name="menu.main" 
            android:label="@string/app_name">            
        </activity>
        <activity 
            android:name="menu.about" 
            android:label="@string/app_name">            
        </activity>
        
        <activity
  			android:name="menu.PrefActivity"
   			android:label="@string/app_name" >
   			<meta-data
      			android:name="android.support.PARENT_ACTIVITY"
      			android:value="android.preference.PreferenceActivity" 
      		/>
		</activity>
        
        
        <service 
        android:enabled="true" 
        android:name="menu.UpdateService"> 
    	</service>
    	
        <service 
        android:enabled="true" 
        android:name="menu.DeleteService"> 
    	</service>
    	
    </application>

</manifest>
